@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    box-sizing: border-box;
    color: #efefef;
    
}
html {
    flex-wrap: wrap; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 97vh;
    padding: 0%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#sectionContainer {
    display:flex;   
    height: 650px;
    width: 400px;
    flex: 0 1 auto;
    border-radius: 40px;
    box-shadow: 0px 0px 300px blueviolet;
    background-color: black;
}

.section {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0%;
    height: 650px;
    width: 400px;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: inset 0px 0px 300px blueviolet;
}

section h1 {
    position: absolute;
   
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
   
}

.container {
    width: 300px;
    height: 300px;
    display: grid;
    z-index: 100;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.section h1 {
    font-family: Shadows Into Light;
}

.section .buttons {
    margin-top: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.container div {
    background-color: rgba(0, 0, 0);
}



.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 260px;
    margin: 0%;
}

.buttons button {
    border: 0;
    border-radius: 40px;
    background-color: black;
    color: white;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: IBM Plex Mono;
 }

.buttons button:hover {
    box-shadow: 1px 1px 0.05px white;
}

.buttons button:active {
    color: white;
    box-shadow: -1px -1px 0.05px rgb(255, 255, 255); 
    transform: scale(0.95);
}

.section p {
    font-family: Shadows Into Light;
}

#left-side,
#right-side {
    flex: 1;
    height: 600px;
    display: flex;
}

#left-side #returnContainer {
    position: relative;
    left: 60px;
    top: 550px;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 0px 900px blueviolet;
    background-color: black;

}

#returnContainer button,
button a {
    font-family: Shadows Into Light;
    background-color: black;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    padding-top: 2p;
    color: #efefef;
    font-size: 30px;
    box-shadow: 0px 0px 900px blueviolet;
}
